<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!-- 数据库链接地址及连接用户密码 -->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-2zet3a0xy5s4td8jk9o.mysql.rds.aliyuncs.com/myapptest"
                        userId="jg1401362462"
                        password="jg19980331888">
        </jdbcConnection>
        <!-- 生成dataobject类存放位置 -->
        <!-- 意思就是每个数据库表映射的entity java类的位置 -->
        <!-- 老外真有意思，先说包名targetPackage，然后再说相对路径targetProject -->
        <javaModelGenerator targetPackage="top.baixiaosheng.mygraduationserver.dataobject" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
        <!-- 生成数据库映射文件存放位置 -->
        <!-- 意思就是mybatis到底是按照什么逻辑进行mysql数据库表与java对象之间映射-->
        <sqlMapGenerator targetPackage="mapping"  targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
        <!-- 生成DAO类存放位置 -->
        <!-- DAO类里持有dataobject的引用，可以进行相应model的操作 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="top.baixiaosheng.mygraduationserver.dao"  targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!-- 生成mysql对应表的类名 -->

        <table tableName="user_info" domainObjectName="UserDO"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false"></table>

<!--        <table tableName="user_password" domainObjectName="UserPasswordDO"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false"></table>-->

<!--        <table tableName="user_avatar" domainObjectName="AvatarDO"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"></table>-->

<!--        <table tableName="user_medical_record" domainObjectName="MedicalRecordDO"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->


        <!--<table tableName="user_password" domainObjectName="UserPasswordDO"-->
               <!--enableCountByExample="false"-->
               <!--enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false"-->
               <!--enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false"/>-->
    </context>
</generatorConfiguration>